@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');
@media screen and (min-width: 768px) {

    #menuIcon {display: none;}
    .redHR {display: none;}

    * {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    .upperNav {
        display: flex;
        background: gray;
        width: 100%;
        height: 50px;
    }

    .upperNav ul {
        display: inherit;
        text-decoration: none;
        list-style: none;
        margin-left: 900px;
        gap: 15px;
        margin-top: 20px;
    }

    .upperNav img {
        width: 20px;
        height: 20px;
    }

    .upperNav a {
        text-decoration: none; 
        color: #fff;
    }

    .anotherNav {
        display: flex;
        background: #fff;
        width: 100%;
        height: 50px;

    }

    .anotherNav img {
        width: 40px;
        height: 40px;
        margin-top: 10px;
    }

    .anotherNav ul {
        display: inherit;
        text-decoration: none;
        list-style: none;
        margin-left: 500px;
        gap: 24px;
        margin-top: 20px;

    }

    .anotherNav a {
        text-decoration: none; 
        color: #272a31;
    }

    .anotherNav h2 {
        font-family: 'COCOGOOSE', sans-serif;
        color: #ff5c00;
        margin-left: 20px;
        margin-top: 12px;
    }

    .topSection {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background: url(pics/Website-background.png);
    }

    .firstPart h1 {
        font-family: 'COCOGOOSE', sans-serif;
        font-size: 40px;
        color: #ff5c00;
        margin-top: 160px;
        margin-left: 70px;
    }

    .firstPart h2 {
        font-family: 'Crete Round', sans-serif;
        font-size: 30px;
        color: #ff5c00;
        margin-top: 20px;
        margin-left: 80px;
    }

    .paragraph {
        width: 75%;
        height: 24vh;
        margin: 25px auto;
        border: rgb(236, 228, 228) solid;
    }

    .paragraph p{
       font-family: 'Gill Sans', sans-serif;
       font-size: 26px;
       margin-top: 20px;
       margin-left: 20px;
       line-height: 30px;
       color: #6b707a;
       font-weight: bold;
    }

    .firstPart h3 {
        color: #272a31;
        font-family: 'Crete Round', sans-serif;
        font-size: 30px;
        margin-left: 200px;
        margin-top: 66px;
    }

    .firstPart h4 {
        color: #6a6f79;
        font-size: 18px;
        margin-left: 200px;
    }

    .features {
        width: 100%;
        display: flex;
        height: 60vh;
        position: relative;
        overflow: hidden;
        background: url(pics/program-bg.jpg);
    }

    .features h2 {
        position: absolute;
        color: #fff;
        font-size: 30px;
        font-family: 'Roboto', sans-serif;
        margin-top: 20px;
        margin-left: 500px;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15vh;
        background: transparent;
        margin-top: 140px;
    }

    .card img {
        margin-top: -55px;
        width: 100px;
        height: 100px;
    }

    .card h4 {
        color: #ff5c00;
        font-size: 18px;
        margin-top: 20px;
    }

    .card p {
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        width: 70%;
    }

    .images {
        margin: 40px auto;
        width: 80%;
        background: url(pics/blank-chess-board.gif);
        background-repeat: no-repeat;
    }

    .images img {
        width: 200px;
        height: 200px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .images h2 {
        color: #272a31;
        margin-top: -5px;
    }

    .images h3 {
        color: red;
        margin-left: 20px;
        font-size: 20px;
    }

    .images p {
        color: #6b707a;
        font-size: 20px;
        width: 35%;
    }

    #speakers {
        color: #6b707a;
        font-size: 30px;
        font-family: 'Crete Round', sans-serif;
        margin-left: 400px;
        margin-top: 40px;
    }

    .speakers h2 {
        color: #6b707a;
        font-size: 30px;
        font-family: 'Crete Round', sans-serif;
        margin-left: 20px;
    }
  
}